ion-header {
    ion-toolbar {
        // --background:black;
        --color: white;
        img {
            width: 50%;
            height: 50%;
        }
        ion-icon {
            font-size: 22px;
        }
        ion-title {
            // text-align: center;
            // margin-left: 46px;
        }
        ion-buttons {
            ion-icon {
                font-size: 22px;
            }
            ion-badge {
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}