<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Offer</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart-outline"></ion-icon>
        <ion-badge>{{total_cart}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>