<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" >Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content no-padding no-margin class="MainContent">



  <img alt="logo" src="assets/purefreshlogo.png" />

  <form>
    <div>
      <ion-card>


        <ion-item style="margin: 10px;">

          <ion-input type="email" autocomplete="off" placeholder="Email" name="customers_email_address"
            [(ngModel)]="formData.customers_email_address" required color="dark" clearInput></ion-input>
        </ion-item>


        <ion-button style="margin: 20px;" expand="full" shape="round" margin-top="10px" color="primary"
          (click)="SendOTP()">
          <ion-label color="light">
            Send
          </ion-label>
        </ion-button>
      </ion-card>
    </div>


  </form>

 

</ion-content>