<ion-header>
  <ion-toolbar color="primary">

    <ion-title color="light">Write a review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon color="light" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="content">
  <h4>Comment about this product</h4>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size="6" no-padding>
        <h5>Your Rating:</h5>
      </ion-col>
      <ion-col size="6" no-padding>
        <ion-rating [(ngModel)]="rate" size="default" (ngModelChange)="onModelChange($event)">
        </ion-rating>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form>
    <ion-item>
      <ion-input type="text" placeholder="Review Title" name="review_title" [(ngModel)]="formData.review_title"
        required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Name" name="nick_name" [(ngModel)]="formData.nick_name" required>
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-textarea rows="17" placeholder="Enter a description" name="your_review" [(ngModel)]="formData.your_review"
        required>
      </ion-textarea>
    </ion-item>
  </form>

</ion-content>

<ion-footer>
  <ion-button (click)="PostReview()">
    <ion-label color="light">
      Post Comment
    </ion-label>
  </ion-button>
</ion-footer>