<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Shipping Address</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/cart" routerDirection="backward">
        <ion-icon slot="icon-only" src="assets/custom-icon-tc-shop/back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="Data">



  <div style="background: transparent;">
    <ion-list-header>
      <ion-label style="align-items: center;">Select Default Address</ion-label>
    </ion-list-header>
    <ion-item style="background: transparent;">

      <ion-radio-group style="background: transparent;" (ionChange)="MakeDefault($event)" [(ngModel)]="default">
        <div *ngFor="let list of Data; let i = index">
          <ion-list class="list">
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-label class="ion-text-wrap">{{list.name}} <br> {{list.mobile}} <br>{{list.address}} </ion-label>
                  <ion-radio name="{{list}}" [value]="list" slot="start" mode="md"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-icon color="primary" style="width: 30px; height: 30px;" (click)="Edit(list.id)"
                  src="assets/edit.svg">
                </ion-icon>
              </ion-col>
            </ion-row>


          </ion-list>

        </div>

      </ion-radio-group>


    </ion-item>


  </div>
  <ion-list>

    <!-- <ion-radio-group allow-empty-selection="true" name="radio-group" [(ngModel)]="default"
      (ionChange)="MakeDefault($event)" #radioGroup>
     
      <div *ngFor="let list of Data">
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-label class="ion-text-wrap">{{list.name}}</ion-label>
                    </ion-col>

                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-label class="ion-text-wrap">{{list.mobile}}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-label class="ion-text-wrap">{{list.address}}</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-radio slot="start" name="{{list.default}}" [value]="list" checked="default == 1"></ion-radio>

              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-icon color="primary" style="width: 30px; height: 30px;" (click)="Edit(list.id)"
                src="assets/edit.svg"></ion-icon>

            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


    </ion-radio-group> -->
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AddAddress()" color="light">
      <ion-icon color="primary" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-footer *ngIf="Data">
  <ion-button (click)="SelectPayment()">Select Payment Mode</ion-button>
</ion-footer>