ion-content.background{
    --background: url('/assets/login_bg.png') no-repeat 100% 100%;
}
ion-input {
    border: 1px solid var(--ion-color-primary);
    margin: 10px 0px 10px 0px;
    padding: 0px;
    font-size: 18px !important;
    font-family: "roboto-medium" !important;
    color: black;

    border-radius: 2px;
}

ion-footer {
    ion-button {
        width: 100%;
        margin: 0;
        // --background: black;
        --color: white;
        --border-radius: 0;
    }
}
.bg-transparent {
    background: transparent;
  }
  ion-item {
    --background: transparent!important;
    --border-color:#f4f5f8!important;
    // --border-color: #f4f5f8;
}
  ion-list {
    --background: transparent!important;
    --border-color:transparent!important;
}


.label[floating],
.label[stacked],
.input-has-focus .label[floating] {
    color:#f4f5f8 ;
}

.p{
    color: #f4f5f8;
}

.myphoto {
   
    height: 15vh;
    width: 15vh;
    margin: auto;
    display: block;
    // display: inline-block;
    }