<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start">
      <ion-icon color="light" name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title color="light">Change Password</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <form>
    <div class="center">
      <ion-item>


        <ion-label position="stacked" color="dark">Current Password <ion-text color="danger">*
          </ion-text>
        </ion-label>
        <ion-input type="password" autocomplete="off" color="primary" name="password"
          [(ngModel)]="postData.current_password" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="dark">New Password <ion-text color="danger">*
          </ion-text>
        </ion-label>
        <ion-input type="password" autocomplete="off" color="primary" name="password" [(ngModel)]="postData.password"
          clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="dark">Confirm Password <ion-text color="danger">*
          </ion-text>
        </ion-label>
        <ion-input type="password" autocomplete="off" color="primary" name="confirm_password"
          [(ngModel)]="postData.confirm_password" clearInput></ion-input>
      </ion-item>



    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-button expand="full" color="primary" (click)="ChangePassword()">
    <ion-label color="light">
      Change Password
    </ion-label>
  </ion-button>
</ion-footer>