form {
    div {
        ion-card {
            background-color: white;
            border-radius: 5px;
            // margin: 0px;
            margin-top: 20%;
            padding: 0px;
        }
    }
}