<ion-header tappable>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-label>
      {{address}}
    </ion-label>
    <ion-buttons slot="end">
      <!-- <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button> -->
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart-outline"></ion-icon>
        <ion-badge>{{total_cart}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-toolbar color="primary" *ngIf="data">

  <ion-grid>
    <ion-row no-padding>
      <ion-col size="5" style="padding: 5px; margin: 0px; text-align: center;">

        <ion-card style="height: 80%; align-items: center; padding: 0px; margin: 0px; display: flex;">


          <ion-input
            style="align-items: center;  text-align: start; font-size: 16px; font-weight: bold; margin-left: 10px;">
            Categories
            <ion-select [(ngModel)]="filtermonthwise" (ionChange)="CategoriesChange(filtermonthwise)">
              <ion-select-option *ngFor="let category of Categories; let i = index" [value]="category">
                {{category.name_en}}</ion-select-option>
            </ion-select>
          </ion-input>


        </ion-card>
      </ion-col>
      <ion-col size="7" style="padding: 5px; margin: 0px; text-align: center;">
        <ion-card style="height: 80%; padding: 0px; margin: 0px; display: flex; text-align: center;
        align-items: center;" (click)="goToSearchPage()">
          <ion-item lines="none" style="padding: 0px; margin: 0px; text-align: center;">
            Search Products
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-toolbar>

<ion-content *ngIf="data">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <!-- Slider -->
  <app-banner></app-banner>
  <div>
    <ion-item lines="none" style="margin: 0px;">
      <ion-label class="label-cat">
        <ion-grid>
          <ion-row>
            <ion-col style="margin: 0px; padding: 0px; font-size: 15px; font-weight: bold; " size="5">
              <ion-label color="primary">
                Shop By Category
              </ion-label>
            </ion-col>

            <ion-col class="borderTop" size="7">


            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>

    </ion-item>
  </div>
  <div>
    <ion-grid no-padding>
      <ion-row>
        <ion-col class="col" size="4" *ngFor="let p of Categories">
          <div>

            <div *ngIf="p.image_name == null" (click)="goToProduct(p.id,p.name_en)">

              <img src="assets/diet.svg" />
            </div>
            <div *ngIf="p.image_name != null" class="img_div">
              <img src="https://mjdmart.com/public/category_images/{{p.image_name}}"
                (click)="goToProduct(p.id,p.name_en)" />
              <p>{{p.name_en}}</p>
            </div>



          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-item lines="none" style="margin: 0px;">
      <ion-label class="label-cat" color="primary">
        Best Selling Items
      </ion-label>
      <ion-button color="primary" (click)="goToProductPage()" slot="end" fill="clear" class="icon-shop-more">
        View More
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <div>
      <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig">
        <ion-slide *ngFor="let p of data; let i = index">

          <ion-card style="width: 100%;">
            <div class="dhe" (click)="goToProductDetail(p.id)">
              <img src="https://mjdmart.com/public/product_images/{{p.default_image}}" />
              <p>{{p.product_name}}</p>
              <p></p>
              <div *ngIf="data[i].product_pricing.showData == false">
                <span>
                  ₹ {{p.product_price_after_discount}}</span>
              </div>
              <div *ngIf="data[i].product_pricing.showData == true">
                <div>
                  <span>
                    ₹ {{convertedPrice}}</span>
                  <ion-select #S [(ngModel)]="gramValue" placeholder="Select Gram"
                    (ionChange)="ProductPricingChange(S.value)" okText="Select" cancelText="Dismiss">
                    <ion-select-option *ngFor="let pp of productPricing" [value]="pp">
                      {{pp.package_name}}</ion-select-option>
                  </ion-select>
                </div>
              </div>

            </div>



            <!-- <div class="div-recent-btn">
        <ion-button color="primary"
          (click)="goToCart(p.id,p.product_price_after_discount,p.product_name,data[i].product_pricing)">
          <ion-label color="light">
            Add to cart
          </ion-label>
        </ion-button>
      </div> -->
            <div class="div-recent-btn">
              <ion-button color="primary"
                (click)="goToCart(p.id,p.product_price_after_discount,p.product_name,data[i].product_pricing)">
                <ion-label color="light">
                  Add to cart
                </ion-label>
              </ion-button>
            </div>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-button (click)="goToProductPage()" fill="clear" class="icon-shop-more"> Shop More
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-slide>
      </ion-slides>


    </div>

  </div>

  <div *ngIf="DiscountItemArray != null">
    <ion-item lines="none" style="margin: 0px;">
      <ion-label class="label-cat" color="primary">
        Best Offers View 10 % OFF
      </ion-label>
      <ion-button color="primary" (click)="goToProductPage()" slot="end" fill="clear" class="icon-shop-more">View
        More
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <div>
      <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig">
        <ion-slide *ngFor="let p of newestItems; let i = index">


          <ion-card>
            <img src="https://mjdmart.com/public/product_images/{{p.default_image}}"
              (click)="goToProductDetail(p.id)" />
            <p>{{p.product_name}}</p>
            <!-- <p><span> ₹ {{p.product_price_after_discount}}</span></p> -->


            <div *ngIf="newestItems[i].product_pricing.showDatass == false">
              <span class="woo-price">
                ₹ {{p.product_price_after_discount}}</span>
            </div>

            <div *ngIf="newestItems[i].product_pricing.showDatass == true">
              <div>
                <span class="woo-price">
                  ₹ {{offerconvertedPrice}}</span>

                <ion-select #S [(ngModel)]="offergramValue" placeholder="Select Gram"
                  (ionChange)="OfferProductPricingChange(S.value)" okText="Select" cancelText="Dismiss">
                  <ion-select-option *ngFor="let pp of offerproductPricing" [value]="pp">
                    {{pp.package_name}}</ion-select-option>
                </ion-select>
              </div>

            </div>



            <div class="div-recent-btn">
              <ion-button color="primary"
                (click)="goToCartOffer(p.id,p.product_price_after_discount,p.name,newestItems[i].product_pricing)">
                <ion-label color="light">
                  Add to cart
                </ion-label>
              </ion-button>
            </div>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-button (click)="goToProductPage()" fill="clear" class="icon-shop-more"> Shop More
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-slide>
      </ion-slides>


    </div>


  </div>


  <!-- <ion-item lines="none">
    <ion-icon slot="start" src="assets/custom-icon-tc-shop/category.svg"></ion-icon>
    <ion-label class="label-cat">
      <p>Best Selling Items</p>
    </ion-label>
    <ion-button routerLink="" routerDirection="forward" slot="end" fill="clear" class="icon-shop-more">Shop
      More
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-item> -->






  <!-- Best Offers View -->
  <!-- Best Offers View Heading-->
  <!-- <ion-item lines="none">
    <ion-icon slot="start" src="assets/custom-icon-tc-shop/tabs.svg"></ion-icon>
    <ion-label>
      <p>Best Offers View 10 % OFF</p>
    </ion-label>
    <ion-button routerLink="" routerDirection="forward" slot="end" fill="clear" class="icon-shop-more">Shop
      More
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-item> -->

  <!-- <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig">
    <ion-slide *ngFor="let p of newestItems">
      <app-product [data]="p"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button routerLink="" routerDirection="forward" fill="clear" class="icon-shop-more"> Shop More
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides> -->
</ion-content>