ion-header {
    ion-toolbar {
        // --background:black;
        --color: white;
        img {
            width: 50%;
            height: 50%;
        }
        ion-icon {
            font-size: 22px;
        }
        ion-title {
            // text-align: center;
            // margin-left: 46px;
        }
        ion-buttons {
            ion-icon {
                font-size: 22px;
            }
            ion-badge {
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}

ion-fab-button {
    --border-radius: 10px;
    --padding: 10px;
    width: 80px;
}
ion-label {
    display: block;
}
ion-toolbar {
    padding: 0px 10px;
    font-weight: bold;
    ion-button {
        font-weight: bold;
    }
}
// .mainContent{

//     .foodsContent{
//         position: absolute;
//         background: white;
//         height: 100%;
//         border-top-left-radius: 10px;
//         border-top-right-radius: 10px;
//         width: 100%;
//         padding: 10px;
//         .restname{
//             font-size: 1.2rem;
//             font-weight: bold;
//             color: black;
//             padding-left: 10px;
//         }
//         .cusine{
//             font-size: 1rem;
//             color: lightgray;
//             padding-left: 10px;
//         }
//         .ratting{
//             font-size: 1rem;
//             padding-left: 10px;
//         }
//         .deliveryAddress{
//             display: flex;
//             padding: 20px 10px 0px 10px;
//             .pin{
//                 width: 25px;
//                 height: 25px;
//             }
//             .address{
//                 font-size: 1rem;
//                 margin: 0px;
//             }
//         }
//         .vegSection{
//             display: flex;
//             justify-content: space-between;
//             padding: 10px;
//         }
//         .cateTitle{
//             font-size: 1.2rem;
//             font-weight: bold;
//             color: black;
//             padding-left: 10px;
//         }
//         .card_div{
//             .card{
//                 display: flex;
//                 width: 100%;
//                 flex-direction: row;
//                 border-bottom: 1px solid #e2e2e2;
//                 padding:5px 10px;
//                 .mainCat{
//                     display: flex;
//                     .image_div{
//                         border-radius: 10px;
//                         background-position: center;
//                         background-repeat: no-repeat;
//                         background-size: cover;
//                         width: 80px !important;
//                         height: 80px !important;
//                     }
//                     .desc_div{
//                         margin-left: 10px;
//                         .heading_lbl{
//                             font-size: 12px;
//                             display: block;
//                             text-align: left;
//                         }
//                         .ratting{
//                             font-size: 10px;
//                         }
//                         .small_lbl{
//                             font-size: 16px;
//                             color: black;
//                             display: block;
//                             text-align: left;
//                         }

//                     }
//                     .cartBtn{
//                         position: absolute;
//                         right: 15px;
//                         width: 60px;
//                         .btns{
//                             padding: 2px;
//                             font-size: 12px;
//                             text-align: center;
//                         }
//                     }
//                     .cartBtn2{
//                         position: absolute;
//                         right: 15px;
//                         margin-right: 20px;
//                         width: 80px;
//                         display: flex;
//                         background: white;
//                         .qunitity{
//                             font-weight: bold;
//                             margin-top: 8px;

//                         }
//                         .cartBtn23{

//                             margin: 5px;
//                             border: 1px solid var(--ion-color-danger);
//                         }
//                     }

//                 }
//             }
//         }
//     }
//     .coupones{
//         display: flex;
//         padding: 20px 10px;
//         background: #f3f3f3;
//         margin-top: 10px;
//         .badge{
//             width: 25px;
//             height: 25px;
//         }
//         .title{
//             padding: 0px 10px;
//             color: var(--ion-color-primary);;
//         }

//     .card_div{

//         .upper_div{
//             display: flex;
//             align-items: center;

//             .veg{
//                 width: 12px;
//                 height: 12px;
//             }
//         }

//         .lower_div{
//             margin-top: 10px;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;;
//             .rate_lbl{
//                 background: #b2d9b2;
//                 border: 1px solid #7bdb7b;
//                 padding: 3px 8px;
//                 border-radius: 5px;
//                 font-size: 14px;
//                 font-weight: 600;
//             }
//         }
//     }

//     }
//     .billing{
//         padding: 5px 10px;
//         .singleRow{
//             display: flex;
//             justify-content: space-between;
//             padding: 10px 0px;
//             border-bottom: 1px dashed lightgray;
//             .headerTitle{
//                 font-size: 0.8rem;
//             }
//             .boldClass{
//                 font-weight: bold;
//             }
//             .headerTotal{
//                 font-size: 1rem;
//             }
//             .priceTotal{
//                 font-size: 1rem;
//             }
//             .price{
//                 font-size: 0.8rem;
//             }
//         }
//     }
//     .instructions{
//         color: var(--ion-color-primary);
//         padding: 5px 10px;
//     }
// }

.mainContent {
    padding: 20px 0px;
    ion-label {
        display: block;
    }
    .noData {
        text-align: center;
        margin-top: 30%;

        .noDataImg {
            width: 100%;
        }
    }
    .image_div {
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100px;
    }
    .restname {
        margin-top: 10px;
        font-size: 1rem;
        color: black;
        font-weight: bold;
    }
    .address {
        font-size: 0.8rem;
        color: lightgray;
    }
    .deliveryAddress {
        display: flex;
        padding: 20px 10px 0px 10px;
        background: #f3f3f3;
        margin-top: 10px;
        .pin {
            width: 25px;
            height: 25px;
        }
        .address {
            font-size: 1rem;
            margin: 0px;
        }
        .changeAddress {
            color: var(--ion-color-primary);
        }
    }
    .card_div {
        padding-top: 10px;
        .card {
            display: flex;
            width: 100%;
            flex-direction: row;
            padding: 5px 10px;
            .mainCat {
                display: flex;
                .image_div {
                    border-radius: 10px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 80px;
                    height: 80px;
                }
                .desc_div {
                    margin-left: 20px;
                    .heading_lbl {
                        font-size: 12px;
                        display: block;
                        text-align: left;
                    }
                    .ratting {
                        font-size: 10px;
                    }
                    .small_lbl {
                        // font-size: 8px;
                        // color: darkgray;
                        // display: block;
                        // text-align: left;
                        font-size: 16px;
                        color: black;
                        display: block;
                        text-align: left;
                    }
                }
                .cartBtn2 {
                    position: absolute;
                    right: 15px;
                    margin-right: 20px;
                    width: 80px;
                    display: flex;
                    background: white;
                    .qunitity {
                        font-weight: bold;
                        margin-top: 8px;
                    }
                    .cartBtn23 {
                        margin: 5px;
                        border: 1px solid var(--ion-color-danger);
                    }
                }
                // .cartBtn{
                //     position: absolute;
                //     right: 15px;
                //     width: 60px;
                //     background: white;
                // }
                // .cartBtn2{
                //     position: absolute;
                //     right: 15px;
                //     width: 80px;
                //     display: flex;
                //     background: transparent;
                //     .qunitity{
                //         font-weight: bold;
                //         margin-top: 8px;
                //     }
                // }
            }
        }
    }

    .coupones {
        display: flex;
        padding: 20px 10px;
        background: #f3f3f3;
        margin-top: 10px;
        .badge {
            width: 25px;
            height: 25px;
        }
        .title {
            padding: 0px 10px;
            color: var(--ion-color-primary);
        }

        .card_div {
            .upper_div {
                display: flex;
                align-items: center;

                .veg {
                    width: 12px;
                    height: 12px;
                }
            }

            .lower_div {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .rate_lbl {
                    background: #b2d9b2;
                    border: 1px solid #7bdb7b;
                    padding: 3px 8px;
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
    .billing {
        padding: 5px 10px;
        .singleRow {
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            border-bottom: 1px dashed lightgray;
            .headerTitle {
                font-size: 0.8rem;
            }
            .boldClass {
                font-weight: bold;
            }
            .headerTotal {
                font-size: 1rem;
            }
            .priceTotal {
                font-size: 1rem;
            }
            .price {
                font-size: 0.8rem;
            }
        }
    }
    .instructions {
        color: var(--ion-color-primary);
        padding: 5px 10px;
    }
}

ion-grid {
    ion-row {
        ion-col {
            text-align: center;
            ion-icon {
                zoom: 3.9;
                color: lightgrey;
            }
            ion-button {
                // --background: black;
                --color: white;
                --border-radius: 0px;
                height: 30px;
            }
            h4 {
                font-size: 20px;
                font-family: "roboto-regular";
                font-weight: bold;
                margin-top: 2px;
            }
        }
    }
}

.buttonnn {
    background: #e96125;
}

ion-footer {
    ion-button {
        // --background: black;
        --color: white;
        margin: 0;
        width: 100%;
        --border-radius: 0;
    }
}
