<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Address</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

   
    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Name <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="name" [(ngModel)]="postData.name" clearInput>
      </ion-input>
    </ion-item>


    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Mobile Number <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="mobile_number"
        [(ngModel)]="postData.mobile_number" clearInput>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Pincode <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="pincode" [(ngModel)]="postData.pincode"
        clearInput></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Locality <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="locality" [(ngModel)]="postData.locality"
        clearInput>
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Email <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="email"
        [(ngModel)]="postData.email" clearInput>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Address <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="address" [(ngModel)]="postData.address" clearInput>
      </ion-input>

    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" color="dark">City <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="city"
        [(ngModel)]="postData.city" clearInput></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" color="dark">State <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-select #S [(ngModel)]="state" placeholder="Select State"
          (ionChange)="StateList(S.value)" okText="Select" cancelText="Dismiss">
          <ion-select-option *ngFor="let pp of StateListItem" [value]="pp.state_name">
            {{pp.state_name}}</ion-select-option>
        </ion-select>

    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Landmark <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="landmark" [(ngModel)]="postData.landmark"
        clearInput></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" color="dark">Alternate Phone 
      </ion-label>
      <ion-input type="text" autocomplete="off" color="dark" name="alt_phone"
        [(ngModel)]="postData.alt_phone" clearInput></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="SaveAddress()">Save Address</ion-button>
  </ion-list>
</ion-content>