<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/tabs/my-profile" routerDirection="backward">
        <ion-icon slot="icon-only" src="assets/custom-icon-tc-shop/back.svg"></ion-icon>
      </ion-button>
      <!-- <ion-back-button mode="md"></ion-back-button> -->
    </ion-buttons>
    <ion-title color="light">Edit Profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item lines="none">
    <ion-label position="stacked" color="dark">Name <ion-text color="danger">*
      </ion-text>
    </ion-label>
    <ion-input type="text" autocomplete="off" color="dark" name="name" [(ngModel)]="postData.name" clearInput>
    </ion-input>
  </ion-item> -->

  <ion-item style="margin: 10px;">
    <ion-label position="stacked" color="dark">Name <ion-text color="danger">*
      </ion-text>
    </ion-label>
    <ion-input type="text" autocomplete="off" placeholder="Name" name="name" color="dark" [(ngModel)]="postData.name"
      clearInput></ion-input>
  </ion-item>


  <ion-item style="margin: 10px;">
    <ion-label position="stacked" color="dark">Phone <ion-text color="danger">*
      </ion-text>
    </ion-label>
    <ion-input type="tel" autocomplete="off" maxlength="10" placeholder="Phone" name="phone" color="dark"
      [(ngModel)]="postData.phone" clearInput></ion-input>
  </ion-item>
  <ion-item style="margin: 10px;">
    <ion-label position="stacked" color="dark">Address <ion-text color="danger">*
      </ion-text>
    </ion-label>
    <ion-input type="text" autocomplete="off" placeholder="Address" name="address" color="dark"
      [(ngModel)]="postData.address" clearInput></ion-input>
  </ion-item>
 
</ion-content>

<ion-footer>
  <ion-button (click)="UpdateProfile()">Update</ion-button>
</ion-footer>