<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start">
      <ion-icon color="light" name="menu"></ion-icon>
    </ion-menu-button>

    <ion-title color="light">F A Q</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="data">
  <ion-list *ngFor="let p of data" padding>

    <ion-item lines="none">
      <ion-label>
        Q. {{p.faq_name}}
      </ion-label>
    </ion-item>
    <ion-item>

      <ion-label>
        Ans. {{p.desc}}

      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>